@{
    ViewBag.Title = "Participantes";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Polo - Presidente Prudente<br/>
    Av. Comendador Alberto Bonfiglioli, 2700<br />
    Presidente Prudente - SP - CEP: 19063-390<br />
   <abbr title="Fone">Fone: (18)3909-9110</abbr>
    
</address>

<address>
    <strong>Danilo Simões Bicas:</strong>   <a href="mailto:20077040@aluno.univesp.br">2007704@aluno.univesp.br</a><br />
    <strong>Rogério Alves de Medeiros:</strong> <a href="mailto:2001828@aluno.univesp.br">2001828@aluno.univesp.br</a><br />
    <strong>Cyndi Helen Souza Oliveira:</strong>  <a href="mailto:1831415@aluno.univesp.br">1831415@aluno.univesp.br</a><br />
    <strong>Kalel Jamil Alves:</strong>   <a href="mailto:2005525@aluno.univesp.br">2005525@aluno.univesp.br</a><br />
    <strong>Samuel Pedroso Toso Betim:</strong>   <a href="mailto:2012711@aluno.univesp.br">2012711@aluno.univesp.br</a><br />
    <strong>Dalila Rosa Souza Espinhosa:</strong>  <a href="mailto:2001132@aluno.univesp.br">2001132@aluno.univesp.br</a><br />
    <strong>Orientador - José Moreno:</strong> <a href="mailto:jose.moreno@cursos.univesp.br">jose.moreno@cursos.univesp.br</a>
</address>