<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <style>
            .cabecalho{
                background-color:black;
                color:white;
                font-size:15px;
            }
        </style>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
